h1{
  font-size: 30px;
  background-color:lightskyblue;
  margin-left: 35%;
}

h2{
  font-size: 10px;

}

h3{
  font-size: 10px;
}
h4{
  font-size: 10px;
  background-color: rgb(193, 218, 193);
  margin-top: auto;
  padding-top: 0%;
}

h5{
  font-size: 15px;
  background-color: lightskyblue;
  margin-right: 90%;
  
  
}

h6{
  background-color: blueviolet;
  margin-top: auto;
  padding-top: 0%;
}

h7{
  background-color: rgb(235, 220, 222);
  margin-top: auto;
  padding-top: 0%;
  display:flex;
}

/* copied from the old↑ */
body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: .5rem;
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  /* .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  } */
  
  /* .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  } */
  
  /* .sidebar .nav-link.active {
    color: #007bff;
  } */
  
  /* .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  } */
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  /* [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  /* } */
   */
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
  /* copied from old↓ */
  
  .sidebar{
    float:left;
    border-right: solid 2px gray;
    border-left: solid 2px gray;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
    margin-right: 20px;
    
}


.sidemenubotton{
    margin:20px;
    display:flex;
    justify-content:center;
    font-size: 10px;
    
    
}

.sidemenubottonkensaku{
  justify-content:center;
  display:flex;
  
  
  
}



/* .sideinfo{
    font-size: 10px;
} */
.header{
    text-align: center;
    width:82%;
    margin-left: 18%; 
}

.main{
    width:60%;
    margin-left: 40%;   
    
}
.table{
   margin:10px 20px 20px;
}